body {
  background-color: rgb(65,88,208);
  text-align: center;
  color: aliceblue;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img { 
  width: 150px;
  height: 100px;
}

button {
  background-color: #666;
  color: #fff;
  font-size: 1.5rem;
  width: 200px;
  height: 50px;
}

.output {
  border: 3px solid white;
  margin: 1em 5em 1em 5em;
  display: none;
  padding: 2rem;
}

#hours {
  font-size: x_large;
}

